body {
    box-sizing: border-box;
    overflow-x: hidden; overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.history-layout {
    width: 80vw;
    height: 100%;
    position: relative;
    float: right;
    top: 0;
    right: 0;
    display: inline-flex;
    flex-direction: row;
}

.history-search {
    border: 3px solid var(--deep-yellow);
    display: inline-block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 5vw;
    margin-left: 40px;
    margin-top: 20px;
}

.history-box {
    border: 3px solid var(--deep-yellow);
    display: inline-block;
    float: left;
    position: absolute;
    top: 50px;
    left: 0;
    width: 80vw;
    height: 5vw;
}