body {
    box-sizing: border-box;
    overflow-x: hidden; overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.history-layout {
    width: 80vw;
    height: 100%;
    position: relative;
    float: right;
    top: 0;
    right: 0;
    display: inline-flex;
    flex-direction: row;
}

.history-search {
    border: 2px solid var(--deep-yellow);
    text-align: left;
    display: inline-block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    height: 5vh;
    margin-left: 40px;
    margin-top: 20px;

}

.searchbox {
    vertical-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.searchbox>span {
    font-size: large;
    transform: skew(-0.03deg);
    display: inline-block;
    padding: 4.5px;
}

.search_input {
    width: 70vw;
    text-decoration: none;
    margin-right: 1px;
    margin-bottom: 1px;
    border: none;
    padding: 1px;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: none;
}

.search_input input[type=text]:focus {
    outline:none;
    text-decoration: none;
    text-underline-color: white;
    box-shadow: none;
    border-bottom: none;
}

.history-page {
    border: 2px solid var(--deep-yellow);
    display: inline-flex;
    float: left;
    position: absolute;
    top: 70px;
    left: 0;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 75vw;
    height: 40vw;
}

.history-box{
    display: inline-flex;
    flex-direction: column;
    margin: 3px 3px 1px;
}

.box-name{
    padding: 6px;
    margin-bottom: 3px;
    font-family: "Cooper Black";
}

.to-do-box {
    border: 2px solid var(--deep-yellow);
    display: inline-flex;
    float: left;
    width: 15vw;
    height: 13vw;
}

.after-box {
    border: 2px solid var(--deep-yellow);
    display: inline-flex;
    float: left;
    width: 15vw;
    height: 10vw;
}