ul{
    list-style-type: none;
    background-color: #f5bc10;
    width: 20%;
    margin:0;
    padding:0;
    position: fixed;
    height: 100%;
    overflow: auto;
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden; overflow-y: hidden;
    width: 100%;
    height: 100%;
}

li a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
.home-layout {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.side-bar-section {
    width: 20vw;
    height: 100%;
    display: block;
    float:left;
    background-color: grey;
}

.content-layout {
    width: 80%;
    height: 100%;
    float: left;
    display: block;
}

.upper-part {
    display: block;
    width: 100%;
    height: 70%;
}

.weekly-section {
    background-color: #FDDC42;
    display: inline-block;
    float: left;
    width: 20vw;
    height: 62vh;
    margin-left: 40px;
    margin-top: 20px;
}

.to-do-section {
    display: inline-block;
    width: 400px;
    height: 670px;
    margin-left: 20px;
    margin-top: 20px;
}

li a:hover{
    background-color: #fddc42;
    color: #cccccc;
.lower-part {
    display: block;
    width: 100%;
    height: 70%;
}