<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--css-->
<link th:href="@{/css/styles.css}" rel="stylesheet"/>

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>history</title>
</head>

<body th:fragment="body">

<div id="menu">
    <ul>
        <p class="logo">HANDEY</p>

        <li><a class="home" href="home">home</a></li>
        <li><a class="history" href="/history">history</a></li>
        <li><a class="계정설정" href="#">계정설정</a></li>
        <li><a class="도움말" href="#">도움말</a></li>
        <li><a class="정보" href="#">정보</a></li>
    </ul>
</div>

    <div id="memo">

    </div>

    <main class="history-layout">
        <section class="history-search">
            <form>
                <div class="searchbox">
                    <span>검색</span>
                    <input class="search_input" autocomplete="off" autocorrect="off" spellcheck="false" type="text" name="search_date" placeholder="">
                </div>
            </form>
        </section>
        <section class="history-page">
            <div class="history-box">
                <article class="to-do-box">
                    <div class="todo-title">
                        <h4 class="box-name">TO DO LIST</h4>
                        <ol>
                            <li>오늘 머 햇음 </li>
                        </ol>
                    </div>
                </article>
                <article class="after-box">
                    <div class="After-title">
                        <h4 class="box-name">AFTER LIST</h4>
                        <ol>
                            <li>오늘 머 햇음 </li>
                        </ol>
                    </div>
                </article>
            </div>
        </section>
    </main>
</body>

</html>