<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--css-->
<link th:href="@{/css/styles.css}" rel="stylesheet"/>

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>메인창</title>
</head>

<body th:fragment="body">

<div id="menu">
    <ul>
        <p class="logo">HANDEY</p>
        <p class="name">핸디님, 안녕하세요!</p>

        <li><a class="home" href="home">home</a></li>
        <li><a class="history" href="/history">history</a></li>
        <li><a class="계정설정" href="#">계정설정</a></li>
        <li><a class="도움말" href="#">도움말</a></li>
        <li><a class="정보" href="#">정보</a></li>
    </ul>
</div>

<div>
    <h1>안녕하세요</h1>
</div>
</body>
</html>