<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--css-->
<link th:href="@{/css/styles.css}" rel="stylesheet"/>

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>과거창</title>
</head>

<body th:fragment="body">

<div id="menu">
    <ul>
        <p class="logo">HANDEY</p>

        <li><a class="home" href="home">home</a></li>
        <li><a class="history" href="/history">history</a></li>
        <li><a class="계정설정" href="#">계정설정</a></li>
        <li><a class="도움말" href="#">도움말</a></li>
        <li><a class="정보" href="#">정보</a></li>
    </ul>
</div>

    <div id="memo">

    </div>

    <div class="history-layout">
        <form class="history-search">
            <input type="text" name="search_date" value="검색">
        </form>
        <div class="history-box">
            <div class="after-box">
                <div class="After-title">
                    <h4>After List</h4>
                </div>
            </div>
            <div class="to-do-box">
                <div class="todo-title">
                    <h4>To Do List</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>