<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--css-->
<link th:href="@{/css/styles.css}" rel="stylesheet"/>

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANDEY HOME</title>
</head>

<body th:fragment="body">
    <div id="menu">
        <ul>
            <p class="logo">HANDEY</p>
            <p class="name">핸디님, 안녕하세요!</p>

            <li><a class="home" href="home">home</a></li>
            <li><a class="history" href="history">history</a></li>
            <li><a class="계정설정" href="#">계정설정</a></li>
            <li><a class="도움말" href="#">도움말</a></li>
            <li><a class="정보" href="#">정보</a></li>
        </ul>
    </div>

    <div class="home-layout">
        <div class="upper-part">
            <div class="weekly-section">
                <div class="weekly-title js-weeklyForm">
                    <h4>Weekly</h4>
                    <div class="icons-col">
                        <i class="fas fa-list-ul"></i>
                        <button class="addWeeklyElement"><i class="fas fa-plus"></i></button>
                    </div>
                </div>

                <ul class="js-weeklyList weeklyList">

                </ul>
            </div>

            <div class="to-do-section">
                <div class="todo-title">
                    <h4>To Do List</h4>
                    <div class="icons-col">
                        <button class="js-addToDoBoxBtn addToDoBoxBtn"><i class="far fa-plus-square"></i></button>
                    </div>
                </div>
                <div class="js-toDoListLayout toDoListLayout">
                    <div class="js-toDoFlexWrap toDoFlexWrap">
<!--                        <div class="js-toDoBox toDoBox">-->
<!--                            <div class="toDoBoxTitleSection">-->
<!--                                <input class="toDoBoxTitle"/>-->
<!--                                <button class="js-addToDoElementBtn addToDoElementBtn"><i class="fas fa-plus"></i></button>-->
<!--                            </div>-->

<!--                            <ul class="js-toDoList toDoList">-->

<!--                            </ul>-->


<!--                        </div>-->
                    </div>


                </div>


            </div>
            </div>
        <div class="lower-part">
            <div class="after-list-section">
                <h4>After List</h4>
            </div>

            <div class="memo-section">
                <h4>Memo</h4>
                <textarea name="textarea" cols="rows"></textarea>


            </div>
        </div>

    </div>

    <script
            src="https://kit.fontawesome.com/64f35c3b01.js"
            crossorigin="anonymous">
    </script>
    <script src="/js/home.js"></script>
</body>
</html>