<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:cellpadding="0">
<link th:href="@{/css/home.css}" rel="stylesheet"/>

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>HANDEY HOME</title>
</head>

<body th:fragment="body">
    <div class="home-layout">
        <div class="side-bar-section">

        </div>
        <div class="content-layout">
            <div class="upper-part">
                <div class="weekly-section">
                    <h4>Weekly</h4>

                </div>

                <div class="to-do-section">
                    <h4>To Do List</h4>
                </div>

            </div>
            <div class="lower-part">
                <div class="after-list-section">
                    <h4>After List</h4>
                </div>

                <div class="memo-section">
                    <h4>Memo</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>