<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--css-->
<link th:href="@{/css/joinagree.css}" rel="stylesheet"/>

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>회원가입창-동의</title>
</head>

<body th:fragment="body">

<div id="content">
    <!--title-->
    <div class="header">
        <p id="logo">HANDEY</p>
    </div>

    <!--agree-->
    <div class="agree">
    </div>

    <div class="check1">
        <label><input type="radio" name="yn" value="yes">agree</label>
        <label><input type="radio" name="yn" value="no">disagree</label>
    </div>

    <!--agree-->
    <div class="agree">
    </div>

    <div class="check2">
        <label><input type="radio" name="yn2" value="yes">agree</label>
        <label><input type="radio" name="yn2" value="no">disagree</label>
    </div>

    <!-- Next BTN-->
    <div class="btn">
        <button type="button" id=next onclick="location.href='join.html'">
            <span>다음</span>
        </button>
    </div>


</div>
</body>
</html>
