<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
    <div class="account-layout">
        <div class="ollacare-logo pb-10 justify-center">
<!--            <img src="/images/ad-biglogo.png" srcset="/images/ad-biglogo@2x.png 2x" alt="핸디">-->
        </div>
        <p class="title-3 text-center pt-5 mb-50 text-gray-2">HANDEY</p>

        <div class="xs-wrap">
            <form>
                <fieldset>
                    <div class="mb-30">
                        <div class="mb-10">
                            <input id='email' name='email' tabindex='1' type="text" class="input-form" placeholder="이메일을 입력해주세요.">
                        </div>
                        <div class="mb-10">
                            <input id='password' name='password' tabindex='2' type="password" class="input-form"
                                   placeholder="비밀번호를 입력해주세요.">
                        </div>
                    </div>
                    <div class="mb-10">
                        <input class="button-form button-primary" type='button' id='login' tabindex='3' value='로그인' />
                    </div>
                </fieldset>
            </form>
            <div class="row mb-40">
                <div class="col">
                    <a class="button-form" href="/" role="button">비밀번호 찾기</a>

                </div>
                <div class="col">
                    <a class="button-form" href="/" role="button">회원가입</a>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="bodyscript">
    <script>

  </script>
</th:block>

</html>