#menu ul {
    list-style-type: none;
    text-align: left;
    background-color: #999999;
    width: 20%;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 20px 15px 20px 15px;
    font-weight: bold;
}

li a:hover {
    background-color: #cccccc;
    color: #ffffff;
}

p.logo {
    font-family: Datum,'고딕std굵게',Helvetica,sans-serif;
    text-align: left;
    padding: 8px 15px 8px 15px;
    color:var(--deep-yellow);
    font-size:30px;
    font-weight:bold;
    cursor: pointer;
}